/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
<<<<<<< HEAD
    чем стили в медиафиче предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --bg-image: url('../images/cover-image-light.png');
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e2;
  --text-on-accent-color: #353430;
  --hover-border-color: rgb(53 52 48 / 40%);
}

:root.theme-light .header__rec {
  display: none;
}

:root.theme-light .content-section__title {
  color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) {
    --bg-color: #fff1f7;
    --bg-image: url('../images/cover-image-light.png');
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e2;
    --text-on-accent-color: #353430;
    --hover-border-color: rgb(53 52 48 / 40%);
  }

  :root:not(.theme-dark) .header__rec {
    display: none;
  }

  :root:not(.theme-dark) .content-section__title {
    color: var(--text-color);
  }
}
=======
    чем стили в медиазапросе предпочтений пользователя
  */
}
>>>>>>> 1f25e5f563a551e995efc2b892365a04306b2090
